@page "/AdminAdd"
@using CoffeeRoast.Database
@using CoffeeRoast.Models
@rendermode InteractiveServer
@inject CoffeeContext ef
<h3>AdminAdd</h3>

<EditForm FormName="formAddItem" Model="_product" OnValidSubmit="@Submit">
    <DataAnnotationsValidator></DataAnnotationsValidator>
    <p>Название товара (если кофе, то после запятой пишите граммы)</p>
    <input type="text" @bind="_product.Tittle"/>
    <p>Ссылка на изображение</p>
    <input type="text" @bind="_product.PhotoLink"/>
    <p>Тип товара</p>
    <select @bind="_product.Type">
        <option>Выберите тип</option>
        @foreach (string item in AddType)
        {
            <option>@item</option>
        }
    </select>
    
    <p>Описание</p>
    <input type="text" @bind="_product.Description"/>

    <p>Подтип товара</p>
    <select @bind="_product.SubType" disabled="@(string.IsNullOrEmpty(_product.Type))">
        <option value="">Выберите подтип</option>
        @if (_product.Type == "Зерна кофе")
        {
            @foreach (string item in AddCoffeeType) 
            { 
                <option>@item</option> 
            }
        }
        else if (_product.Type == "Аксессуары")
        { 
            <option>
                Выберите подтип аксессуара
            </option>
            @foreach (string item in AddAccesType) 
            { 
                <option>@item</option> 
            } 
        }
    </select>
    @if (_product.Type == "Зерна кофе")
    {
        <select @bind="_product.DegreeOfRoast">
            <option>Степень обжарки</option>
            @foreach (string item in AddRoast)
            {
                <option>@item</option>
            }
        </select>
        <select @bind="_product.Region">
            <option>Регион</option>
            @foreach (string itwm in AddRegion)
            {
                <option>@itwm</option>
            }
        </select>
    }
    <p>Введите цену</p>
    <input type="number" @bind="_product.Price"/>
    
    <p>Введите количество граммов/штук</p>
    <input type="number" @bind="_product.Count"/>
    <button type="submit">Добавить продукт</button>
</EditForm>

@code {
    public string[] AddType = { "Зерна кофе", "Аксессуары" };
    public string[] AddCoffeeType = { "Арабика", "Робуста", "Купажи", "Specialty" };
    public string[] AddAccesType = { "Турки", "Френч-прессы", "Фильтры", "Кружки", "Кофемолки" };
    public string[] AddRoast = { "Светлая", "Средняя", "Тёмная" };
    public string[] AddRegion = { "Америка", "Африка", "Азия" };

    private Product _product = new Product();

    private void Submit(EditContext arg)
    {
        ef.Add(_product);
        ef.SaveChanges();
        _product = new Product();
    }
}